@page "/prescriptions/{QuoteId:int}"
@inject IPrescriptionService PrescriptionService
@inject IMapper Mapper
@inject NavigationManager Navigation

<h4>Prescriptions for Quote ID: @QuoteId</h4>

@if (prescriptions.Count == 0)
{
    <p>No prescriptions found for this quote.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Created On</th>
                <th>Prescription Images</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prescription in prescriptions)
            {
                <tr>
                    <td>@prescription.CreatedOn.ToShortDateString()</td>
                    <td>
                        <!-- Display Prescription Images -->
                        @foreach (var prescriptionImage in prescriptionImages.Where(img => img.PrescriptionId == prescription.PrescriptionId))
                        {
                            @if (base64Images.TryGetValue(prescriptionImage.ImageUrl, out var base64Image))
                            {
                                <img src="data:image/jpeg;base64,@base64Image"
                                     alt="Prescription Image"
                                     style="max-width: 150px; max-height: 150px; cursor: pointer;"
                                     onerror="this.style.display='none'; console.error('Failed to load image:', this.src);"
                                     @onclick="(async () => await ShowImageModal(prescriptionImage.ImageUrl))" />
                            }
                            else
                            {
                                <p>Loading image...</p>
                            }
                        }

                        <!-- Display Prescription Texts -->
                        @foreach (var text in prescriptionTexts.Where(txt => txt.PrescriptionId == prescription.PrescriptionId))
                        {
                            <span>@text.Text</span>
                        }
                    </td>
                </tr>
            }
        </tbody>


    </table>
}

<button class="btn btn-secondary mt-3" @onclick="NavigateBackToQuotes">Back to Quotes</button>


