@page "/dashboard"
@inject IUserService UserService

<div class="profile-container">
    <div class="profile-wrapper">
        <img src="Images/userpfp.jpg" alt="Profile Picture" class="profile-image" />
    </div>
    <div class="profile-message">
        <p>Olá,</p>
        @if (UserService.CurrentEntity is not null)
        {
            <h2>@UserService.CurrentEntity.UserFirstName</h2>
        }
        else
        {
            <h2>USUÁRIO</h2>
        }
    </div>
</div>

<style>
    .profile-container {
        display: flex; /* Enables flexbox layout */
        align-items: center; /* Vertically aligns items */
        gap: 20px; /* Adds spacing between the image and the text */
        margin-bottom: 20px; /* Adds space below the container */
    }

    .profile-wrapper {
        position: relative;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border: 5px solid #4517DB;
        box-shadow: inset 0 0 12px #4A3FCD;
        overflow: hidden;
        background-clip: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profile-image {
        width: 152%;
        height: 152%;
        border-radius: 50%;
        object-fit: cover;
        transform: scale(1.01);
    }

    .profile-message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px; /* Adjust spacing between text elements */
    }

    .profile-message p {
        margin: 0;
        font-size: 1.2rem;
        line-height: 1.2;
    }

    .profile-message h2 {
        margin: 0;
        font-size: 2rem;
        line-height: 1;
    }
</style>

<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <button class="nav-link @(activeTab == "Detalhes Pessoais" ? "active" : "")" @onclick='() => SelectTab("Detalhes Pessoais")'>Detalhes Pessoais</button>
    </li>
    <li class="nav-item">
        <button class="nav-link @(activeTab == "Endereco" ? "active" : "")" @onclick='() => SelectTab("Endereco")'>Endereço</button>
    </li>
    <li class="nav-item">
        <button class="nav-link @(activeTab == "Configuracoes" ? "active" : "")" @onclick='() => SelectTab("Configuracoes")'>Configurações</button>
    </li>
</ul>

@if (activeTab == "Detalhes Pessoais")
{
    <div>
        <UserDetailModule OnUserDetailsUpdated="RefreshUserData"></UserDetailModule>
    </div>
}
else if (activeTab == "Endereco")
{
    <div>
        <SearchZipCodeModule></SearchZipCodeModule>
    </div>
}
else if (activeTab == "Configuracoes")
{
    <div>
        <p>This is the Settings tab content.</p>
    </div>
}